html{
	background-color: #e0e0e0;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	height: 100%;
}

body {
  margin:0;
  padding:0;
}
#sidenav {
  height: 100%; 
  width: 120px; 
  position: fixed;
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #EDC0D9;
  overflow-x: hidden; 
  padding-top: 20px;
  
}
#sidebar {
  height: 100%; 
  width: 120px;
  position: fixed; 
  z-index: 1; 
  top: 0; 
  right: 0;
  background-color: #EDC0D9; 
  overflow-x: hidden; 
  
}

#sidenav a {
  padding: 15px 5px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: #818181;
  display: block;
  border: solid ;
  border-radius: 15px;
  margin: 2%;
}


#sidenav a:hover {
  color: white;
	background-color: #55165e;
	border-color:#55165e; 
}


#container {
  margin-left: 160px; 
  margin-right: 160px;
  position: relative;
  
}

#container a {
	color: #55165e;
	font-weight: 500;
	text-decoration: none;
}
#container a:hover {
	text-decoration: underline;
    color: black;
}


#image-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 10px;
	grid-template-columns: auto auto auto;
	margin: 3%;
	
}
#gallery-item {
	text-align: center;
}

h3 {
	padding-top: 2%;
}

figure, h1, h2, h3 {
	text-align: center;
	color: #55165e;
}

img {
	width: 300px;
	height: auto;
	border: solid;
}

#picture_description, #bio {
	text-align: center;
	margin:3%;
	justify-content: space-between;
}


#intro {
	text-align: center;
}
figcaption {
    font-style: italic;
    font-size: .75em;
    
}




#content-wrap {
  padding-bottom: 2.5rem;   
}

footer {
	position: relative;
	width: 100%;
	bottom: 0;
	height: 2.5rem;
	margin-left: auto;
	margin-right: 0;
	
}
footer p {
	text-align: right;
	font-weight: 500;
}




